@model SampleViewModel

<html>
<body>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>
    <a href="@Model.Url">This is a link</a>
</p>
<p>
    <img src="https://picsum.photos/id/237/200/300" alt="Sample image" />
</p>

</body>
</html>